<style type="text/css" media="all">
  body {
        padding-top: 60px;
        padding-bottom: 40px;
  } 
  .title h1 {
        font-size: 50px;
    }
</style>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">Minerva</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
        </ul>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {class: 'navbar-form pull-right'})  do |f|  %>
          <% if devise_mapping.rememberable? -%>
            <%= f.check_box :remember_me %>
          <% end -%>   

          <%= f.email_field :email, :autofocus => true, placeholder: 'Email' %>

          <%= f.password_field :password, placeholder: 'Senha' %>

          <%= f.submit "Sign in", class: 'btn btn-success' %>
        <% end %>

      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <h1 class="title">Minerva</h1>
</div> <!-- /container -->
