<table class="table table-condensed">
<%= content_tag(:div, flash[:notice], :class => "alert alert-error") if flash[:notice] %>
<%= form_for([@user, @profile]) do |f| %>
  <tr>
    <td><p><b>Imagem</b></p><%= f.text_field :image, placeholder: 'Imagem', class: 'span6' %></td>
  </tr>
    <tr>
    <td><p><b>Emprego Anteriores</b></p><%= f.text_field :job, placeholder: 'Título', class: 'span6' %></td>
  </tr>
  <tr>
    <td><p><b>Línguas</b></p><%= f.text_field :languages, placeholder: 'Título', class: 'span6' %></td>
  </tr>
    <tr>
    <td><p><b>Religião</b></p><%= f.text_field :religion, placeholder: 'Título', class: 'span6' %></td>
  </tr>
   </tr>
    <tr>
    <td><p><b>Escola</b></p><%= f.text_field :school, placeholder: 'Escola que vc estudou anteriormente', class: 'span6' %></td>
  </tr>
</table>
      <%= f.submit "Enviar", class: "btn btn-small btn-primary btn btn-success" %>
<% end %>
