<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Job</th>
    <th>School</th>
    <th>Languages</th>
    <th>Religion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.image %></td>
    <td><%= profile.job %></td>
    <td><%= profile.school %></td>
    <td><%= profile.languages %></td>
    <td><%= profile.religion %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
