<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>

    <div class="span8">
      <table class="table">
        <tr class="info">
          <td><b><i class="icon-th-list"></i Posts</b> Cursos</td>
        </tr>
      </table>

      <b>Imagem:</b>
      <%= @profile.image %><br/>

      <b>Emprego:</b>
      <%= @profile.job %><br/>

      <b>Escola:</b>
      <%= @profile.school %><br/>

      <b>Linguas:</b>
      <%= @profile.languages %><br/>

      <b>Religion:</b>
      <%= @profile.religion %><br/>

    </div>
  </div>
</div>
