<%= render 'layouts/header' %>

<div class="span3 sidebar-nav">
  <%= render 'shared/menu_manage' %>
</div>

<div class="span8">
  <%= link_to 'Criar nova notícia', new_notice_path %>
  <table class="table">
    <% @notices.each do |notice| %>
      <tr>
        <td><%= link_to notice.title, notice %></td>
        <td><%= link_to 'Edit', edit_notice_path(notice) %></td>
        <td><%= link_to 'Destroy', notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</div>