<table class="table table-condensed">
  <%= content_tag(:div, flash[:notice], :class => "alert alert-error") if flash[:notice] %>
  <%= form_for(@user) do |f| %>
  <tr>
    <td><p><b>Nome</b></p><%= f.text_field :first_name, placeholder: 'Nome', class: 'span12' %></td>
    <td><p><b>Sobrenome</b></p> <%= f.text_field :last_name, placeholder: 'Sobrenome', class: 'span12' %></td>
  </tr>
  <tr>
    <td><p><b>Email</b></p> <%= f.text_field :email, placeholder: 'Email', class: 'span12' %></td>
    <td><p><b>Telefone</b> <i class="muted">(ex: 00 0000 0000)</i></p> <%= f.text_field :telephone, placeholder: 'Telefone', class: 'span12' %></td>
  </tr>
  <tr>
    <td colspan="2"><p>
    <label class="radio">
      <%= f.radio_button(:sex, 'male') %><b>Masculino</b> <br>
      <%= f.radio_button(:sex, 'female') %><b>Feminino</b><br>
    </label>
    </td>
  <tr>
    <td><p><b>Site</b> (<i>Website, twitter, facebook ... </i>)</i></p> <%= f.text_field :web_site, placeholder: 'Site', class: 'span12' %></td>
  </tr>
  </tr>
    <tr>
    <td><p><b>Senha</b></p> <%= f.text_field :password, placeholder: 'Senha', class: 'span12' %></td>
    <td><p><b>Repetir Senha</b></i></p> <%= f.text_field :password_confirmation, placeholder: 'Repetir Senha', class: 'span12' %></td>
  </tr>
  <tr>
    <td colspan="2">
    <label class="radio">
      <%= f.radio_button(:role, 'teacher') %><b>Professor</b> <br>
      <%= f.radio_button(:role, 'student') %><b>Aluno</b><br>
      <%= f.radio_button(:role, 'admin') %><b>Administrador</b><br>
    </label>
    </td>
  </tr>
  <tr>
    <td><p><b>Endereço</b></p> <%= f.text_field :street_address, placeholder: 'Endereço', class: 'span12' %></td>
    <td><p><b>Cidade</b></p> <%= f.text_field :city, placeholder: 'Cidade', class: 'span12' %></td>
  </tr>
  <tr>
    <td><p><b>Estado</b></p> <%= f.text_field :state, placeholder: 'Estado', class: 'span12' %></td>
    <td><p><b>País</b></p> <%= f.text_field :country, placeholder: 'País', class: 'span12' %></td>
  </tr>
  <tr>
    <td colspan="2">
      <p><b>Observação</b> (<i>Observação opcionais</i>)</p> <%= f.text_area :observation, placeholder: 'Observação', class: 'span12', rows: '6' %>
      <%= f.submit "Enviar", class: "btn btn-small btn-primary btn btn-success span3" %>
      <%= link_to 'Voltar', users_path, class: "btn btn-small btn-info btn btn-success span3 pull-right" %>
    </td>
  </tr>
  <% end %>
</table>
<br><br>