<%= render 'shared/header' %>  

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/admin_menu' %>
    </div>
    
    <div class="row col-md-8">
      <div class="menu">
        <%= link_to "criar um usuário", new_user_path %>
      </div>
        <div class="users">
          <% @users.each do |user| %>
            <%= link_to user.first_name, user %> |
            <%= link_to 'excluir', user_path(user), method: :delete %> |
            <%= link_to 'editar', edit_user_path(user)%>
            <br>
          <% end %>
        </div>
    </div>
  </div>
</div>