<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span3 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>

    <div class="span8">
      <table class="table">
        <tr class="info">
          <td><b><i class="icon-th-list"></i> Posts</b> Cursos</td>
        </tr>

<table class="table table-condensed">
  <tr>
    <th>Nome</th>
    <th>Email</th>
    <th>Status</th>
    <th>Adicionar</th>
  </tr>

  <%= form_tag search_path, :method => 'get' do %>
      <p>
      <%= text_field_tag :search %>
      <%= submit_tag "Search" %>
    </p>
  <% end %>

  <% @users.each do |user| %>
    <tr>
      <td><b><%= link_to user.first_name + " #{user.last_name}", user %></b></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= link_to 'Adicionar', add_path(user), class: 'btn btn-small btn-success' %></td>
    </tr>
  <% end %>
  </table>

    <%= will_paginate @users  %>

    </div>
  </div>
</div>
