<%= render 'layouts/header' %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'shared/menu_manage' %>
    </div>
    <div class="span7">
      <table class="table">
        <tr class="info">
          <td><b><i class="icon-th-list"></i> Theacher show courses</b> <%= @course.title %> </td>
        </tr>
      </table>
      <% if @course.schedule != nil %>
        <%= link_to 'Edit', edit_course_schedule_path(@course) %>
        <%= @course.schedule.title %> <br />
        <%= @course.schedule.content %> <br />
      <% else %>
        <% if current_user.has_role? :teacher %>
          <%= link_to 'Create Schedule', new_course_schedule_path(@course) %>
        <% else %>
          No defined Schedule yet.
        <% end %>
      <% end %>
      <%= link_to 'Back', :back %>
    </div>

    <div class="span3 sidebar-nav">
      <table class="table">
        <tr class="warning">
          <td><b>Configurações</b></td>
        </tr>
        <tr>
          <td>

          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<%#= link_to 'New Schedule', new_schedule_path %>