<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu_manage' %>
    </div>

    <div class="span8">

      <p id="notice"><%= notice %></p>

        <table border="0">
        <tr>
          <td><%= @schedule.title %></td>
        </tr>
        <tr>
          <td><%= @schedule.content %> </td>
        </tr>
        <tr>
          <td><%= link_to 'Edit', edit_course_schedule_path(@schedule) %></td>
          <td><%= link_to 'Delete', remove_schedule_path, method: :delete %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

