<style type="text/css">
    #cat {
      list-style-type:none;
      margin-left: 0px;
    }
</style>

<div><br>
  <ul id="cat">
    <% if current_user.role == 'admin' %>
      <li><b><i class="icon-home"></i> <%= link_to 'Alunos do curso', course_users_path(@course) %></b></li>
      <li><b><i class="icon-home"></i> <%= link_to 'Adicionar aluno ', search_path(@course) %></b></li>
    <% elsif current_user.role == 'teacher' %>
      <li><b><i class="icon-home"></i> <%= link_to 'Programação', course_schedule_path(@course) %></b></li>
      <li><b><i class="icon-home"></i> <%= link_to 'Programação da turma', course_users_path(@course) %></b></li>
      <li><b><i class="icon-home"></i> <%= link_to 'Gerenciar notícias', notices_path %></b></li>
    <% elsif current_user.role == 'student' %>
      <li><b><i class="icon-home"></i> <%= link_to 'Programação', course_schedule_path(@course) %></b></li>
      <li><b><i class="icon-home"></i> <%= link_to 'Notícias', course_notices_path(@course) %></b></li>
    <% end %>
  </ul>
</div>