<style type="text/css">
    #cat {
      list-style-type:none;
      margin-left: 0px;
    }
</style>

<div class="well"><br>
  <ul id="cat">
    <% if current_user.role == 'admin' %>
        <li><b><i class="icon-home"></i> <%= link_to 'Home', index_path %></b></li>
        <li><b><i class="icon-refresh"></i> <%= link_to 'Gerenciar Cursos', courses_path %></b></li>
        <li><b><i class="icon-share"></i> <%= link_to 'Gerenciar Usuários', users_path %></b></li>
        <li><b><i class="icon-share"></i> <%= link_to 'Histórico', logs_path %></b></li>
    <% end %>
    <% if current_user.role == 'teacher' %>
        <li><b><i class="icon-home"></i> <%= link_to 'Home', index_path %></b></li>
        <li><b><i class="icon-home"></i> <%= link_to 'Cursos', courses_path %></b></li>
    <% end %>
    <% if current_user.role == 'student' %>
        <li><b><i class="icon-home"></i> <%= link_to 'Home', index_path %></b></li>
        <li><b><i class="icon-home"></i> <%= link_to 'Cursos', courses_path %></b></li>
    <% end %>
    <li><b><i class="icon-off"></i> <%= link_to 'Sair', logout_path, method: :delete %></b></li>
  </ul>
</div>
