<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      
    
      

<div class="well"><br>
  <ul id="cat">
    <% if current_user.has_role? :teacher %>
        <li><b><i class="icon-home"></i> <%= link_to 'Home', teacher_path %></b></li>
        <li><b><i class="icon-home"></i> <%= link_to 'Cursos', show_teacher_courses_path %></b></li>
        <li><b><i class="icon-home"></i> <%= link_to 'Cursos', new_course_schedule_path, @course %></b></li>
        <li><b></b></li>
    
  </ul>
</div>
    <% end %>

    </div>

    <div class="span8">
      Manage class <%= @class.title %>
    </div>

    <div class="span2 sidebar-nav pull-right">
      <b>Publicidade</b>
    </div>

  </div>
</div>

