<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">

    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu' %>
    </div>

    <div class="span8">

    Cursos do Professor <%= current_user.first_name %> <br><br>

    <% @user.courses.each do |course| %>
      <%= link_to course.title, class_path(course) %> <br>
      <i class="icon-home"></i> <%= link_to 'Schedule', new_course_schedule_path(course) %>
    <% end %>

    </div>

    <div class="span2 sidebar-nav pull-right">
      <b>Publicidade</b>
    </div>

  </div>
</div>

