<div class="span2 sidebar-nav">
  <%= render 'shared/menu_manage' %>
</div>
<div class="span7">
  <table class="table">
    <tr class="info">
      <td><b><i class="icon-th-list"></i> Course</b> <%= @course.title %> </td>
    </tr>
  </table>
  <hr>
  <%= notice %><br>
  <p>
    <b>Titulo:</b>
    <%= @course.title %>
  </p>
  <p>
    <b>Instrutor:</b>
    <%= @course.instructor %>
  </p>
  <p>
    <b>Lançamento:</b>
    <%= @course.release_date %>
  </p>
  <p>
    <b>End date:</b>
    <%= @course.end_date %>
  </p>
  <p>
    <b>Description:</b>
    <%= @course.description %>
  </p>
  <hr>

    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-small btn-success' %>
    <%= link_to 'Back', :back, class: 'btn btn-small btn-info' %>

</div>

<div class="span3 sidebar-nav">
<table class="table">
  <tr class="warning">
    <td><b>Configurações</b></td>
  </tr>
  <tr>
    <td>
      <%= render 'shared/menu_class' %>
    </td>
  </tr>
</table>
</div>
