<h1>Listing courses</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Instructor</th>
    <th>Release date</th>
    <th>End date</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%= course.title %></td>
    <td><%= course.instructor %></td>
    <td><%= course.release_date %></td>
    <td><%= course.end_date %></td>
    <td><%= course.description %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
