<%= render 'shared/header' %>  

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <%= render 'shared/admin_menu' %>
    </div>
    
    <div class="row col-md-8">
      <div class="menu">
        <%= link_to "criar um curso", new_course_path %>
      </div>
        <div class="courses">
          <% @courses.each do |course| %>
            <%= link_to course.title, course %>
            <%= link_to 'excluir', course_path(course), method: :delete %>
            <%= link_to 'editar', edit_course_path(course)%>
            <br>
          <% end %>
        </div>
    </div>
  </div>
</div>