<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu' %>
    </div>

    <div class="span8">
      <table class="table">
        <tr class="info">
          <td><b><i class="icon-th-list"></i Posts</b> Cursos</td>
        </tr>
      </table>

<table class="table">
  <tr>
    <th>Titulo</th>
    <th>Instrutor</th>
    <th>Lançamento</th>
    <th>Término</th>
    <th>Editar</th>
    <th>Excluir</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><b><%= link_to course.title, course %></b></td>
    <td><%= course.instructor %></td>
    <td><%= course.release_date.strftime("%m/%d/%Y") %></td>
    <td><%= course.end_date.strftime("%m/%d/%Y") %></td>
    <td><%= link_to 'Editar', edit_course_path(course), class: 'btn btn-small btn-success' %></td>
    <td><%= link_to 'Excluir', course, method: :delete, data: { confirm: 'Deseja excluir?' }, class: 'btn btn-small btn-danger' %></td>
  </tr>
<% end %>
</table>

<br />
    </div>

    <div class="span2 sidebar-nav">
    <table class="table">
      <tr class="error">
        <td><b><i class=" icon-info-sign"></i> info</b></td>
      </tr>
      <tr>
        <td>
          <small>
            Aqui você tem a possibilidade de visualizar todos os posts criados por você. Juntamente com informações
            adicionais como a <b>data</b> em que foi criada e a <b>categoria</b> que foi anexada. Além disso, é possível
            <b>editar</b> algum post que você deseja fazer alterações. Caso não deseje mais algum post, você pode <b>deletá-lo</b>
            clicando em <b>excluir</b>
          </small>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>
