<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @course.title %>
</p>

<p>
  <b>Instructor:</b>
  <%= @course.instructor %>
</p>

<p>
  <b>Release date:</b>
  <%= @course.release_date %>
</p>

<p>
  <b>End date:</b>
  <%= @course.end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
