<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2 sidebar-nav">
      <%= render 'layouts/menu' %>
    </div>

    <div class="span8">
      <p class="lead">Criar novo curso</p>
      <hr>

<p id="notice"><%= notice %></p>

<p>
  <b>Titulo:</b>
  <%= @course.title %>
</p>

<p>
  <b>Instrutor:</b>
  <%= @course.instructor %>
</p>

<p>
  <b>Lançamento:</b>
  <%= @course.release_date %>
</p>

<p>
  <b>End date:</b>
  <%= @course.end_date %>
</p>

<p>
  <b>Description:</b>
  <%= @course.description %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
    </div>

    <div class="span2 sidebar-nav">
    <table>
      <tr>
        <td>
          <p class="lead">Info</p>
        <hr>
        </td>
      </tr>
      <tr>
        <td>
          <small>
            Aqui você tem a possibilidade de visualizar todos os posts criados por você. Juntamente com informações
            adicionais como a <b>data</b> em que foi criada e a <b>categoria</b> que foi anexada. Além disso, é possível
            <b>editar</b> algum post que você deseja fazer alterações. Caso não deseje mais algum post, você pode <b>deletá-lo</b>
            clicando em <b>excluir</b>
          </small>
        </td>
      </tr>
    </table>
    </div>
  </div>
</div>


